<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>KPN Top Closest Restaurants</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="application/javascript" th:src="@{/js/main.js}"></script>
</head>

<body>
<div class="container">
    <h1>Top Closest Restaurants</h1>

    <div>
        <select class="btn btn-primary" id="priceFilter">
            <option value="">No price filter</option>
            <option value="1">$</option>
            <option value="2">$$</option>
            <option value="3">$$$</option>
            <option value="4">$$$$</option>
        </select>

        <select class="btn btn-primary" id="featureFilter">
            <option value="">No feature filter</option>
            <option value="0">Takes credit cards</option>
            <option value="1">Takes reservations</option>
            <option value="2">Offers delivery</option>
            <option value="3">Offers take out</option>
            <option value="4">Has Wi-Fi</option>
            <option value="5">Has outdoor seating</option>
            <option value="7">User has liked this venue</option>
            <option value="8">Recently opened</option>
            <option value="9">Not part of a chain</option>
            <option value="10">Takes online reservations</option>
            <option value="13">Dog-friendly</option>
            <option value="14">Has parking</option>
            <option value="15">Has a happy hour</option>
        </select>
    </div>

    <br>

    <div class="row col-md-7 table-responsive">
        <table id="restaurantsTable" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="breadcrump">Restaurant Name</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <ul class="breadcrumb" id="pagin">
        </ul>
    </div>

</div>

</body>
</html>